name: Mirror Main to Target (SSH)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  mirror-sync:
    # Evita que el workflow corra si, por error, lo activas en el repo destino
    if: github.repository == 'mlopsgroup70/mlops_group70'
    runs-on: ubuntu-latest
    steps:
      # 1. Descargar TODO el historial (Vital para un espejo)
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      # 2. Cargar la llave SSH (Secrets)
      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY }}

      # 3. Configurar hosts conocidos para que SSH no pregunte confirmación
      - name: Add GitHub to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      # 4. Sincronización Espejo
      - name: Force Push to Mirror
        run: |
          # Definir el remoto destino
          # Asegúrate de que esta URL es correcta
          TARGET_URL="git@github.com:emartinc/mlops_group70.git"

          echo "Sincronizando espejo hacia: $TARGET_URL"

          # Añadir el remoto
          git remote add mirror_target $TARGET_URL
          
          # Push Forzado
          # -f (force): Sobrescribe el destino para que sea IDÉNTICO al origen.
          # main:main : Empuja la main local a la main remota.
          git push -f mirror_target main:main