name: Data Change Trigger

on:
  push:
    paths:
      - 'data/**'          # Triggers if you change files in data/
      - '**.dvc'           # Triggers if you update a DVC file
      - 'dvc.lock'         # Triggers if you update the DVC lockfile

jobs:
  test_data_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1
        with:
          version: "latest"
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync --all-extras --dev --frozen

      - name: Verify Training Runs
        # We run a very short training epoch just to prove the new data works
        run: |
          uv run python src/mbti_classifier/train.py trainer.max_epochs=1 +trainer.limit_train_batches=10 +trainer.limit_val_batches=5
